{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    {% if is_granted("ROLE_ADMIN") %}
    Vous êtes administrateur
        <div>
            Voir les artistes <a href="{{ path('app_artist_index') }}">ici</a>
            Voir les albums <a href="{{ path('app_album_index') }}">ici</a>
        </div>


    {% endif %}

{% endblock %}
