{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    {% if is_granted("ROLE_ADMIN") %}
    <div class="container">
        <div class="col-lg-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vous êtes administrateur</h5>
                    <p class="card-text">Cliquer sur le button pour accéder au dashboard</p>
                    <a href="{{ path("app_dashboard") }}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}


{% endblock %}
