{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="margin-top: 15px; margin-bottom: 15px">Les 5 derniers artistes enregistrés</h1>

        <h1 style="margin-top: 15px; margin-bottom: 15px">Liste des artistes</h1>

        <div class="col-lg-6 mx-auto">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for artist in artists %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center"><a href="{{ path('app_artist_show', {'id': artist.id}) }}">{{ artist.name }}</a></h5>
                                <p class="card-text" style="text-align: center">
                                    Artiste
                                </p>
                            </div>

                        </div>
                    </div>
                {% else %}
                    Pas d'artistes enregistrés
                {% endfor %}

            </div>
        </div>

        <a class="btn btn-dark" href="{{ path('app_home') }}">Retour</a>

    </div>

{% endblock %}
