{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-4" style="margin-top: 15px">
            <h1>Créer un nouvel artiste</h1>

            {{ include('artist/_form.html.twig') }}

            <a class="btn btn-dark" href="{{ path('app_dashboard') }}">Retour</a>
        </div>

    </div>

{% endblock %}
