{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-4" style="margin-top: 15px">
            <h1>Créer un album</h1>

            {{ include('album/_form.html.twig') }}

            <a class="btn btn-dark" href="{{ path('app_dashboard') }}">Retour</a>
        </div>
    </div>


{% endblock %}
